.address-wrap {
    padding: 20px 0;
}
.set-default {
    margin-top: 20px;
}
.save-btn {
    width: 560px;
    border-radius: 100px;
    margin: 48px auto;
}
.use-wx-location {
    width: 560px;
    background: #00CE13;
    border-radius: 100px;
    margin: 48px auto;
    border-color: #00CE13;
}