.index {
    flex-direction: column;
    width: 100%;
    .tips {
        font-size: 22px;
        color: #B0B0B0;
        text-align: center;
        margin-top: 36px;
    }
    .list {
        margin:32px 24px 0;
    }
}