.wy-lazy-wrap {
    position: relative;
}

.wy-lazy-loading {
    position: absolute;
    z-index: 1;
    background-color: #cfcfcf;
    width: 100%;
    height: 100%;
    transition: height .2s ease-in-out;
    animation: skeleton-blink 1.2s ease-in-out infinite;
}

.wy-lazy-img {
    width: 100%;
    height: 100%;
}

@keyframes skeleton-blink {
    50% {
        opacity: 0.6;
    }
}