.wy-noticebar-content {
    swiper-item {
        height: 100%;
    }
}

@keyframes bubble {
    0% {
        opacity: 0;
        transform: translate(0, 0%);
    }

    25% {
        opacity: 1;
        transform: translate(0, -40%);
    }

    55% {
        opacity: 1;
        transform: translate(0, -40%);
    }

    100% {
        opacity: 0;
        transform: translate(0, -80%);
        display: none;
    }
}
.wy-noticebar-wrap {
    .bubble-item {
        width: 237px;
        height: 54px;
        position: absolute;
        top: 0;
        opacity: 0;
        animation: bubble 2s ease-in 1;
    }
}