.app {
    padding-bottom: 150px;
}
.tips {
    font-size: 24px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #999999;
    line-height: 30px;
    margin: 30px 0;
    text-align: center;
}

.calendar-item {
    position: relative;
    width: 640px;
    height: 456px;
    margin: 0 auto;
    background-color: #fff;
    overflow: hidden;
    &.cover {
        position: relative;
        .calender-uploader {
            margin-top: 43px;
            margin-left: 43px;
        }
        .edit-box {
            display: flex;
            align-items: center;
            position: absolute;
            top: 358px;
            left: 50%;
            transform: translateX(-50%);
            color: #666;
            z-index: 2;
            .title {
                font-size: 18px;
                line-height: 18px;
            }
            .edit-icon {
                position: absolute;
                width: 36px;
                height: 36px;
                right: -46px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    &.page {
        .calender-uploader {
            margin-top: 79px;
            margin-left: 43px;
        }
    }
}

.calender-title {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 24px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #999999;
    line-height: 30px;
    text-align: center;
}

.bottom-upload-btn {
    position: fixed;
    width: 100%;
    height: 98px;
    line-height: 98px;
    text-align: center;
    bottom: 0;
    left: 0;
    background-color: #FF6345;
    font-size: 32px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #FFFFFF;
    z-index: 1;
}

// 输入弹框
.modal-content {
    padding: 54px;
    .input-content {
      margin-bottom: 54px;
      .input-item {
        display: flex;
        align-items: center;
        height: 80px;
        padding-left: 24px;
        background: #F6F6F6;
        border-radius: 8px;
        margin-bottom: 24px;
        .title {
          margin-right: 16px;
          color: #333333;
          font-size: 32px;
          line-height: 1;
          flex-shrink: 0;
        }
        input {
            flex: 1;
        }
      }
    }
    .operate-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 28px;
      .left-btn, .right-btn {
        flex: 1;
        height: 74px;
        line-height: 74px;
        border-radius: 37px;
        box-sizing: border-box;
        text-align: center;
      }
      .left-btn {
        border: 2px solid #E0E0E0;
        margin-right: 40px;
        color: #666666;
      }
      .right-btn {
        background: #ccc;
        color: #fff;
        opacity: 0.5;
        &.clickable {
          opacity: 1;
          background: #FF6345;
        }
      }
    }
  }