$color-brand: #FF6345;
/* 引入 Taro UI 默认样式 */
@import "~taro-ui/dist/style/index.scss";

.primary-color {
    color: #FF6345;
}

.taro__toast {
    position: fixed;
    z-index: 1100;
}

.wy-hairline, .wy-hairline--top, .wy-hairline--left, .wy-hairline--right, .wy-hairline--bottom, .wy-hairline--surround, .wy-hairline--top-bottom {
  position: relative;
}

[class*='wy-hairline']::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid #ebedf0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

.wy-hairline--top::after {
  border-top-width: 1PX;
}

.wy-hairline--left::after {
  border-left-width: 1PX;
}

.wy-hairline--right::after {
  border-right-width: 1PX;
}

.wy-hairline--bottom::after {
  border-bottom-width: 1PX;
}

.wy-hairline--surround::after {
  border-width: 1PX;
}

.wy-hairline--top-bottom::after {
  border-top-width: 1PX;
  border-bottom-width: 1PX;
}

.at-button--disabled {
    opacity: 1;
    border-color: #E0E0E0;
    background: #E0E0E0;
}

.radius-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 24px;
    border-radius: 31px;
    width: auto;
    padding: 4px 16px;
    height: 56px;
    &::after {
        border-radius: 62px;
    }
}
.primary-btn {
    color: #fff;
    background-color: #FF6345;
    &::after {
        border-color: #FF6345;
    }
    &:hover {
        background-color: #FF6345!important;
        color: #fff!important;
    }
    &:active {
        background-color: #FF6345!important;
        color: #fff!important;
        opacity: .7;
    }
}
.outline-btn {
    color: #666666;
    background-color: #fff;
    &::after {
        border-color: #C1C1C1;
    }
}
.primary-outline-btn {
    color: #FF6345;
    background-color: #fff;
    &::after {
        border-color: #FF6345;
    }
}

// fade-in transition start
.fade-in-enter {
    opacity: 0;
}
.fade-in-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}
.fade-in-exit {
    opacity: 1;
}
.fade-in-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}
// fade-in transition end

// bottom-top transition start
.bottom-top-enter {
  opacity: 0;
  transition: all 300ms ease-in-out;
  transform: translate3d(0, 100%, 0);
}
.bottom-top-enter-active {
  opacity: 1;
  transition: all 300ms ease-in-out;
  transform: translate3d(0, 0, 0);
}
.bottom-top-exit {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.bottom-top-exit-active {
  opacity: 0;
  transition: all 300ms ease-in-out;
  transform: translate3d(0, 100%, 0);
}
// bottom-top transition end

// right-left transition start
.right-left-enter {
  opacity: 0;
  transition: all 300ms ease-in-out;
  transform: translate3d(100%, 0, 0);
}
.right-left-enter-active {
  opacity: 1;
  transition: all 300ms ease-in-out;
  transform: translate3d(0, 0, 0);
}
.right-left-exit {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.right-left-exit-active {
  opacity: 0;
  transition: all 300ms ease-in-out;
  transform: translate3d(100%, 0, 0);
}
// right-left transition end

// scale-top transition start
.scale-in-enter {
    transform: scale(0);
}
.scale-in-enter-active {
    transition: transform 300ms ease-in-out;
    transform: scale(1);
}
.scale-in-exit {
    transform: scale(1);
}
.scale-in-exit-active {
    transition: transform 300ms ease-in-out;
    transform: scale(0);
}
  // bottom-top transition end
