.portfolio-list {
    .at-swipe-action {
        margin: 20px 24px;
        background-color: #fff;
        border-radius: 16px;
        overflow: hidden;
    }
}
.portfolio-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    .portfolio-img-wrap {
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        margin-right: 24px;
        .portfolio-img {
            display: flex;
            width: 160px;
            height: 160px;
        }
        .continue-mask {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: absolute;
            width: 160px;
            height: 80px;
            padding-bottom: 8px;
            left: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            opacity: 0.7;
            color: #fff;
            font-size: 20px;
        }
    }
    .portfolio-left {
        display: flex;
    }
    .portfolio-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 0;
        .portfolio-title {
            display: flex;
            font-size: 28px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #333333;
            line-height: 28px;
            margin-bottom: 20px;
            .coupon-sign {
                width: 65px;
                height: 30px;
                background: #FFEFEC;
                border-radius: 4px;
                font-size: 16px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #FF6345;
                line-height: 30px;
                text-align: center;
                margin-left: 10px;
            }
        }
        .portfolio-page {
            height: 24px;
            font-size: 24px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #999999;
            line-height: 24px;
            margin-bottom: 46px;
        }
        .portfolio-time {
            font-size: 24px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #999999;
            line-height: 24px;
        }
    }
}